body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  flex-direction: row-reverse;
}
input {
  align-self: flex-end;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail {
  width: 300px;
}

.hover-wrapper {
  position: relative;
  display: inline-block;
}

.hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  opacity: 0;
}

.hover:hover {
  opacity: 1;
}

.hover p {
  color: white;
  padding: 1rem;
}
